<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
       default-lazy-init="false">

    <bean id="dozerBeanMapper" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <!-- 转换配置文件路径设置 -->
        <property name="mappingFiles" value="classpath*:/dozer/*-mapping.xml"/>

        <!-- 转换器设置 -->
        <property name="customConverters">
            <list>
                <bean class="org.cleverframe.common.dozer.IgnoreNullConverter"/>
                <bean class="org.cleverframe.common.dozer.IgnoreBlankConverter"/>
            </list>
        </property>
<!--

        &lt;!&ndash; 自定义监听器 &ndash;&gt;
        <property name="eventListeners">
            <list>
                <bean class="org.dozer.listeners.EventListener"/>
            </list>
        </property>

        &lt;!&ndash; 自定义的Bean工厂 &ndash;&gt;
        <property name="factories">
            <map>
                <entry key="id" value-ref="bean-factory-ref"/>
            </map>
        </property>
-->
    </bean>
</beans>