body {
    font-family: PingFang SC, Hiragino Sans GB, Helvetica Neue, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
    background-color: #F9F9F5;
    color: #2C3E50;
}

.editormd-html-preview {
    margin: 10px 10px 10px 25px;
    background-color: #F9F9F5;
    border: 1px solid #E1E1E8;
}