body {
    font-family: PingFang SC, Hiragino Sans GB, Helvetica Neue, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
    background-color: #F9F9F5;
    color: #2C3E50;
}

.editormd-html-preview {
    margin: 10px 10px 10px 25px;
    background-color: #F9F9F5;
    border: 1px solid #E1E1E8;
}

.header {
    height: 45px;
    background: #f9f3d7;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    border-bottom: 1px solid #f5e539;
    font-family: Consolas, monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", sans-serif;
}

.page {
    width: 100%;
    position: relative;
    margin: auto;
    /*max-width: 1600px;*/
    box-sizing: border-box;
    padding: 45px 380px 50px 50px;
}

.content {
    position: relative;
}

.menu {
    position: fixed;
    width: 310px;
    margin-left: 60px;
    margin-bottom: 15px;
    padding-top: 50px;
    /*padding: 60px 5px 10px;*/
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    height: 100%;
    font-size: 13px;
    top: 0;
    right: 0;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.menu a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.menu ul, menu, dir {
    /*display: block;*/
    /*list-style-type: disc;*/
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0;*/
    /*-webkit-margin-end: 0;*/
    -webkit-padding-start: 25px;
}

.headerDivFirst {
    position: absolute;
    top: 5px;
    left: 80px;
}

#title {
    font-size: 24px;
    display: inline-block;
    max-width: 750px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerDivLast {
    position: absolute;
    top: 20px;
    right: 15px;
    /*background-color: #D6DBDF;*/
    /*color: #2C3E50;*/
}

.headerDivLast span {
    position: relative;
    margin-right: 5px;
}

#createBy {
    font-size: 13px;
}

#createDate {
    font-size: 13px;
}

#updateBy {
    font-size: 13px;
}

#updateDate {
    font-size: 13px;
}

#numberOfWords {
    font-size: 13px;
}

