/*查询表单样式*/
#searchForm {
    margin-top: 8px;
    margin-left: 15px;
}

#searchForm .row {
    margin-bottom: 8px;
}

#searchForm .row label {
    display: inline-block;
    width: 60px;
    text-align: right;
}

#searchForm .row input, select {
    width: 160px;
}

#searchForm .row .column {
    margin-right: 10px;
}

#searchForm .row .columnLast {
    margin-right: 0;
}

/*新增表单样式*/
#addForm .row {
    margin-bottom: 8px;
    width: inherit;
}

/*编辑表单样式*/
#editForm .row {
    margin-bottom: 8px;
    width: inherit;
}

/*#editForm .row label {
    display: inline-block;
    text-align: center;
    width: 60px;
}

#editForm .row input {
    width: 670px;
}*/
