<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
       default-lazy-init="false">

    <!-- 创建一个流程引擎的配置对象 -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <!--数据库配置-->
        <property name="dataSource" ref="dataSource"/>
        <!--数据库事务管理器-->
        <property name="transactionManager" ref="transactionManager"/>
        <!-- 设置数据库schema的更新方式 -->
        <property name="databaseSchemaUpdate" value="true"/>
        <!-- 是否启动jobExecutor -->
        <property name="jobExecutorActivate" value="false"/>
        <!--邮件配置-->
        <!--<property name="mailServerHost" value="mail.my-corp.com"/>-->
        <!--<property name="mailServerPort" value="5025"/>-->
        <!--设置生成流程图字体，支持中文-->
        <property name="labelFontName" value="宋体"/>
        <property name="activityFontName" value="宋体"/>
        <!--定义部署的流程文件地址，不会重复部署-->
        <!--<property name="deploymentResources" value="/workflow/**"/>-->
    </bean>

    <!-- 创建一个流程引擎bean -->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <!-- 工作流仓储服务 -->
    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <!-- 工作流运行服务 -->
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <!--  工作流任务服务-->
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <!--  工作流历史数据服务-->
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <!--  工作流管理服务-->
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <!-- 工作流唯一服务 -->
    <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/>

</beans>