<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
       default-lazy-init="false">

    <description>Spring Context Quartz</description>
<!--

    <bean id="quartzDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
-->

    <!-- Quartz集群Scheduler -->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
        <!--  quartz配置文件路径-->
        <property name="configLocation" value="classpath:/quartz/quartz.properties" />
        <!-- 与Spring整合,quartz.properties文件里的org.quartz.scheduler.instanceName配置无用,必须在此处设置设置schedulerName -->
        <property name="schedulerName" value="QuartzSchedulerCluster"/>
        <!-- 启动时延期3秒开始任务 -->
        <property name="autoStartup" value="true" />
        <property name="startupDelay" value="30" />
        <!-- 保存Job数据到数据库所需的数据源 -->
        <property name="dataSource" ref="dataSource" />
        <!--关闭调度时，是否等待所有的job执行完毕-->
        <property name="waitForJobsToCompleteOnShutdown" value="false"/>
        <!-- Job接受applicationContext的成员变量名 -->
        <property name="applicationContextSchedulerContextKey" value="applicationContext" />
        <property name="overwriteExistingJobs" value="true" />
        <!--事务定义-->
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
</beans>