<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
       default-lazy-init="false">

    <description>Spring MVC All</description>

    <!-- 加载配置属性文件 -->
    <!--<context:property-placeholder ignore-unresolvable="true" location="classpath:cleverframe.properties" />-->
    <bean id="customPropertyPlaceholderConfigurer" class="org.cleverframe.common.configuration.CustomPropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="UTF-8" />
        <property name="locations">
            <list>
                <value>classpath:cleverframe.properties</value>
            </list>
        </property>
    </bean>

    <!--
        MVC基本的配置文件：
        1.配置扫描@Controller策略
        2.设置静态资源访问规则
        3.系统拦截器配置
        4.配置视图与视图解析器，Mvc请求消息转换其等配置
        5.commons-fileupload 文件上传配置
    -->
    <import resource="spring-mvc-base.xml" />


    <import resource="spring-mvc-shiro.xml"/>
</beans>