<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 上传文件拦截,设置最大上传文件大小 10M=10*1024*1024(B)=10485760 bytes (依赖commons-fileupload) -->
    <bean id="multipartResolver" class="org.cleverframe.filemanager.servlet.SpeedLimitMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxInMemorySize" value="10240"/>
        <property name="maxUploadSize" value="${fileupload.web.maxUploadSize}"/>
        <!-- true：延迟解析上传的文件,先执行Controller里面的代码(默认为false) -->
        <property name="resolveLazily" value="true"/>
        <!-- 文件上传使用的临时目录 -->
        <property name="uploadTempDir">
            <bean class="org.springframework.core.io.FileSystemResource">
                <constructor-arg type="java.lang.String" value="${fileupload.web.fileStoragePath}/temp"/>
            </bean>
        </property>
    </bean>

    <!--使用Servlet3.0的文件上传API配置-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver">-->
        <!--&lt;!&ndash;文件上传使用的临时目录&ndash;&gt;-->
        <!--<property name="resolveLazily" value="false"/>-->
    <!--</bean>-->
</beans>