/*新增表单样式Code*/
#addCodeForm .row {
    margin-bottom: 8px;
    width: inherit;
}

#addCodeForm .row label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

#addCodeForm .row input, select {
    width: 220px;
}

#addCodeForm .row .column {
    margin-right: 30px;
}

#addCodeForm .row .columnLast {
    margin-right: 0;
}

/*新增表单样式Category*/
#addCategoryForm .row {
    margin-bottom: 8px;
    width: inherit;
}

#addCategoryForm .row label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

#addCategoryForm .row input, select {
    width: 220px;
}

#addCategoryForm .row .column {
    margin-right: 30px;
}

#addCategoryForm .row .columnLast {
    margin-right: 0;
}

/*编辑表单样式Code*/
#editCodeForm .row {
    margin-bottom: 8px;
    width: inherit;
}

#editCodeForm .row label {
    display: inline-block;
    width: 60px;
    text-align: right;
}

#editCodeForm .row input, select {
    width: 160px;
}

#editCodeForm .row .column {
    margin-right: 15px;
}

#editCodeForm .row .columnLast {
    margin-right: 0;
}

/*编辑表单样式Category*/
#editCategoryForm .row {
    margin-bottom: 8px;
    width: inherit;
}

#editCategoryForm .row label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

#editCategoryForm .row input, select {
    width: 160px;
}

#editCategoryForm .row .column {
    margin-right: 12px;
}

#editCategoryForm .row .columnLast {
    margin-right: 0;
}

/*中部叶签样式*/
.tabsCenterPageTop {
    margin-top: 8px;
    margin-left: 15px;
}

.tabsCenterPageTop .row {
    margin-bottom: 8px;
}

.tabsCenterPageTop .row .label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.tabsCenterPageTop .row .value {
    text-align: left;
    font-size: 14px;
}

.tabsCenterPageTop .row .column {
    margin-right: 50px;
}

.tabsCenterPageTop .row .columnLast {
    margin-right: 0;
}

.tabsCenterPageTop .button {
    float: right;
    margin-right: 10px;
}

/* 重写EasyUI样式-面板工具按钮间距增加 */
.layout-panel .panel-tool a {
    margin: 0 0 0 10px;
}

/*自定义图标*/
.icon-folderAdd{
    background:url('image/folder_add.png') no-repeat center center;
}
.icon-scriptAdd{
    background:url('image/script_add.png') no-repeat center center;
}
.icon-folderPage{
    background:url('image/folder_page.png') no-repeat center center;
}
.icon-script{
    background:url('image/script.png') no-repeat center center;
}
.icon-windowClose{
    background:url('image/window-close-2.png') no-repeat center center;
}